@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,300;1,400&display=swap";
.header {
  width: 100%;
  padding-bottom: 1.4375rem;
  width: 100%;
  padding-bottom: 1.4375rem;
  font-family: "Open Sans", sans-serif;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 0.625rem 0rem;
  display: flex;
  justify-content: space-between;
}
.header-div ul {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
  padding-right: 0.625rem;
}
.header-div ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 0.875rem;
}
.header-div div span {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #c4d7b2;
  font-size: 0.875rem;
}

.header-nav {
  justify-content: space-between;
  color: white;
  background-color: #e1ecc8;
  font-family: "Roboto", sans-serif;
  align-items: center;
  padding: 0.625rem 0px;
}
.header-nav ul {
  list-style: none;
}
.header-nav div ul li a {
  text-decoration: none;
  color: black;
  color: 20px;
}
.header-nav h1 {
  font-size: 55px;
  padding-bottom: 0.625rem;
}

.navbar {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  flex-direction: row;
}
.navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.navbar li a:hover {
  color: black;
  text-shadow: 5px 5px 5px grey;
}

.ul.navbar.nav-navbar {
  color: black;
}

.div.ul.navbar2 {
  color: black;
}

.box {
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
}

.box-color {
  background-color: white;
  position: relative;
  top: 250px;
  left: 250px;
  font-size: 35px;
}

.navbar2 {
  display: flex;
  gap: 20px;
  padding-right: 0.625rem;
  list-style: none;
}
.navbar2 li a:hover {
  color: black;
  text-shadow: 5px 5px 5px grey;
}
.navbar2 li:hover {
  color: black;
  text-shadow: 5px 5px 5px grey;
  text-decoration: none;
}

.hero.hero-background {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 10px;
  border: 5px solid black;
}

#C4D7B2 #E1ECC8 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery-container {
  width: 100%;
  text-align: center;
}

.cards-grid {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-block-start: 50px;
  position: relative;
  width: 50%;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: auto;
}
.cards-grid .clase-icon {
  width: 100%;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  height: 100px;
}

.section-principal {
  text-align: center;
  background-color: white;
  width: 100%;
  height: 750px;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1594737626072-90dc274bc2bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80);
  background-position: 0px 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body {
  background: linear-gradient(to left top, lightpink, lightsalmon);
}

.header-nav {
  animation: cambiar 7s infinite;
}

.button, .comprar1 {
  text-align: center;
}

.cards {
  text-align: center;
}

.child {
  text-align: center;
  font-size: 20px;
}

.header-baby {
  text-align: center;
  font-size: 25px;
}

.cards33 {
  margin: 10px;
  border: 5px solid black;
  flex: 30%;
  flex-direction: column;
}

.cards33 .boton {
  background-color: grey;
  padding: 10px;
}

.cardsmujer1 {
  text-align: center;
  justify-content: center;
  gap: 2rem;
}

.textoencima {
  position: absolute;
  left: 25%;
  top: 250%;
  font-size: 25px;
}

.cards40 {
  text-align: center;
}

.gallery__item1 {
  padding-top: 15%;
}

.row.row-cols-1.row-cols-md-3.g-4 {
  padding: 5%;
}

.gallery__item2 {
  padding-top: 15%;
}

.hombreboton {
  position: absolute;
  left: 40%;
  font-size: 25px;
  animation: none;
}

.description {
  position: absolute;
  left: 40%;
  top: 75%;
  font-size: 30px;
}

.trescards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  place-items: center;
}

.cards11 p {
  text-align: center;
  font-size: 18px;
}

.cards11 img {
  position: relative;
  border: 3px solid black;
  padding: 10px;
}

.cards12 p {
  text-align: center;
  font-size: 18px;
}

.cards12 img {
  position: relative;
  border: 3px solid black;
  gap: 10px;
  padding: 10px;
}

.cards10 p {
  text-align: center;
  font-size: 18px;
}

.cards10 img {
  position: relative;
  border: 3px solid black;
  padding: 10px;
}

.button, .comprar1 {
  position: relative;
  font-size: 25px;
  top: -55%;
}

@media (max-width: 1024px) {
  header {
    background-color: white(144, 236, 238);
    justify-content: space-around;
  }
  .navbar2 {
    flex-direction: column;
  }
  .navbar2 li a {
    color: coral;
  }
  .navbar li a {
    color: coral;
  }
  .navbar li a:hover {
    color: aqua;
  }
  .navbar.nav-navbar {
    flex-direction: column;
  }
  .navbar.nav-navbar li a {
    flex-direction: column;
    text-align: center;
    color: coral;
  }
  .header-nav {
    text-align: left;
    font-size: 16px;
  }
  .header-div-hombre {
    text-align: left;
    font-size: 16px;
    flex-direction: column;
  }
  .navbar-hombre {
    text-align: right;
    font-size: 16px;
    flex-direction: column;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: block;
  }
  .gallery-container img {
    width: 100%;
  }
  .gallery__item1 img {
    width: 100%;
  }
  .cards11 img {
    display: inline-block;
  }
  .header-nav h1 {
    text-align: left;
  }
}
@media (max-width: 768px) {
  header {
    background-color: aquamarine;
    flex-direction: column;
    gap: 20px;
  }
  .cards11 img {
    display: inline-block;
  }
  .header-nav h1 {
    text-align: left;
  }
  .navbar.nav-navbar {
    flex-direction: column;
  }
  .button, .comprar1 {
    overflow: hidden;
  }
  .header-div-hombre {
    text-align: left;
    font-size: 16px;
    flex-direction: column;
  }
  .navbar-hombre {
    text-align: right;
    font-size: 16px;
    flex-direction: column;
  }
  .textoencima {
    display: none;
  }
  .navbar-mujer {
    flex-direction: column;
    text-align: center;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
  }
  .gallery-container img {
    width: 100%;
  }
}
@media (max-width: 475px) {
  .navbar.nav-navbar {
    flex-direction: column;
  }
  .cards11 img {
    display: inline-block;
  }
  .header-nav h1 {
    text-align: left;
  }
  .textoencima {
    display: none;
  }
  .description {
    position: absolute;
    left: 40%;
    top: 95%;
    font-size: 20px;
    animation: none;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3px;
  }
  .boy1 h1 {
    display: none;
  }
  .hombreboton {
    display: none;
  }
}
@media (max-width: 425px) {
  header {
    flex-direction: column;
  }
  .cards11 img {
    display: inline-block;
  }
  .header-nav h1 {
    text-align: left;
  }
  .navbar2 {
    flex-direction: column;
    text-align: center;
  }
  .navbar-mujer {
    flex-direction: column;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
  }
  .cards3 {
    width: 100%;
  }
  .navbar.nav-navbar-hombre {
    flex-direction: column;
    text-align: left;
    font-size: 16px;
  }
  .cards img {
    width: 80%;
    position: relative;
  }
  .header-nav ul {
    font-size: 16px;
  }
  .textoencima {
    display: none;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3px;
  }
  .hombreboton {
    display: none;
  }
}
.cards10 img {
  width: 50%;
  top: 10px;
}

.cards12 img {
  width: 50%;
}

.cards11 img {
  width: 50%;
}

@media (max-width: 375px) {
  header {
    background-color: white;
    flex-direction: column;
  }
  .navbar2 {
    flex-direction: column;
    text-align: center;
    font-size: 15px;
  }
  .navbar {
    flex-direction: column;
    color: black;
    font-size: 16px;
  }
}
.header-nav h1 {
  text-align: left;
}

.section-principal {
  font-size: 20px;
  text-align: center;
}

.navbar.nav-navbar {
  flex-direction: column;
}

.textoencima {
  display: none;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3px;
}
.gallery-container img {
  width: 300px;
}

.hombreboton {
  display: none;
}

.description {
  position: absolute;
  left: 40%;
  top: 100%;
  font-size: 18px;
  animation: none;
}

.trescards img {
  width: 300px;
}

.cards10 img {
  width: 50%;
  top: 10px;
}

.cards12 img {
  width: 50%;
}

.cards11 img {
  width: 50%;
}

@media (max-width: 320px) {
  header {
    background-color: white;
    flex-direction: column;
  }
  .navbar2 {
    flex-direction: column;
    text-align: center;
    font-size: 15px;
  }
}
.header-nav h1 {
  text-align: left;
}

.navbar {
  flex-direction: column;
  color: black;
  font-size: 16px;
}

.section-principal {
  font-size: 16px;
  text-align: center;
}

.header-nav {
  background-color: lightcyan;
  color: black;
}

.textoencima {
  display: none;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3px;
}
.gallery-container img {
  width: 300px;
}

.hombreboton {
  display: none;
}

.description {
  position: absolute;
  left: 30%;
  top: 110%;
  font-size: 18px;
  animation: none;
}

.trescards {
  text-align: center;
  font-size: 16px;
  display: grid;
}
.trescards img {
  width: 300px;
}

.cards10 img {
  width: 50%;
  top: 10px;
}

.cards12 img {
  width: 50%;
}

.cards11 img {
  width: 50%;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
}

/*# sourceMappingURL=style.css.map */
