$color_1: #c4d7b2;
$color_2: white;
$color_3: black;
$color_4: 20px;
$color_5: coral;
$color_6: aqua;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Roboto", sans-serif;
$background-color_1: #e1ecc8;
$background-color_2: white;
$background-color_3: white(144, 236, 238);
$background-color_4: aquamarine;
$background-color_5: lightcyan;

@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,300;1,400&display=swap";
@import "./layout/header";
@import "./base/reset";
@import "./components/cards";
@import "./components/botons";
@import "./utilities/mixin";
@import "./utilities/mediaqueris";
@import "./utilities/keyframes";

